<p id="notice"><%= notice %></p>

  <div style="width:300px; height300px">
  <%= image_tag(@photo.image, style:'width:100%') %>
  </div>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
